{
  "presets": [
    "@babel/typescript",
    "react-app",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "inline-react-svg",
    "emotion",
    "react-loadable/babel",
    "@babel/plugin-transform-react-display-name",
    [
      "module-resolver",
      {
        "alias": {
          "test": "./test",
          "#": "./src"
        },
        "extensions": [
          ".js",
          ".jsx",
          ".es",
          ".es6",
          ".mjs",
          ".ts",
          ".tsx"
        ],
        "stripExtensions": [
          ".js",
          ".jsx",
          ".es",
          ".es6",
          ".mjs",
          ".ts",
          ".tsx"
        ]
      }
    ]
  ],
  "ignore": [
    "**/*.d.ts"
  ]
}